/* this is the css file for the welcome page */

html {
    background-color: bisque;
}
h1 {
    text-align: center;
    color: black;
}

.square {
    background-color: #d7c0af;
    border-style: dashed;
    border-width: 2px;
    border-color: brown;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}