/* this is the css file for the welcome page */

html {
    background-color: bisque;
}
h1 {
    text-align: center;
    color: black;
}

img {
    display: inline;
    width: 100px;
    height: 150px;
}
.square {
    background-color: #d7c0af;
    border-style: dashed;
    border-width: 2px;
    border-color: white;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
p {
    text-align: centre; 
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}