html {
    background-color: bisque;
}
h1,h2 {
    text-align: center; 
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

h4, h5{
    color: black;
    text-align: left;
}

p {
    font-family: Arial, Helvetica, sans-serif;
}
a {
    align-items: center;
}
