html {
    background-color: bisque;
}
h1 {
    text-align: center; 
    color: black;
}
h2, h5 {
    color: black;
    text-align: center;
}
a {
    align-items: center;
}

img {
    width: auto;
    height: auto;
}
.containe r {
    border-width: 20px ; 
    border-color: black; 
    background-color: #e9ded6; 
}