html {
    background-color: rgb(246, 176, 90);
}
h1 {
    text-align: center; 
    color: #c08d6d;
}
.button1 {
    background-color: white;
    color: black;
    border: 2px solid #4CAF50; /* Green */
  }